* {
	margin:0;
	padding:0;
}

/* roboto-normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Normal'),
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Normal'),
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

html,body {
	width: 100%;
  height: 100%;
	background: #212327;
  overflow: hidden;
  font: 14px/1.5 'Roboto','PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
}
