* {
	margin:0;
	padding:0;
}

/* roboto-normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Normal'),
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Normal'),
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/roboto/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* lobster-normal - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/lobster/lobster-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster'), local('Lobster-Normal'),
       url('//lib.baomitu.com/fonts/lobster/lobster-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/lobster/lobster-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/lobster/lobster-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/lobster/lobster-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/lobster/lobster-v18-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'iconfont';  /* project id 289888 */
  src: url('//at.alicdn.com/t/font_9y4op23m0x9ftj4i.eot');
  src: url('//at.alicdn.com/t/font_9y4op23m0x9ftj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_9y4op23m0x9ftj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_9y4op23m0x9ftj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_9y4op23m0x9ftj4i.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html,body {
	width: 100%;
  height: 100%;
	background: #fbfbfb;
  background-size: cover;
  overflow-x: hidden;
  font: 14px/1.5 'Roboto','PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
  letter-spacing: 1px;
  color: #666;
}
ul,li,ol {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
  transition: all .25s ease-out;
}
a:hover {
  color: #39c5bb;
  letter-spacing: 2px;
}
p{
  margin-bottom: 10px;
}
.container {
  position: relative;
  width: inherit;
  max-width: 1200px;
  margin:0 auto;
  z-index: 10;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.col-6 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}
.col-4 {
  width: 33.33333333%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}
.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:hover{
  letter-spacing: 1px;
  color: #fff;
}
.btn-primary{
  color: #fff;
  background-color: #39c5bb;
}
.btn-primary:hover {
  background-color: #33b0a7;
}
.btn-sm{
  padding: 4px 8px;
  font-size: 12px;
}
.btn-lg{
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 2px;
}
.btn-sm .iconfont{
  font-size: 12px;
}
